<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>


    </script>
  </head>
  <body>
  	<div class="hero">
  		<img src="/images/redrocks.jpg" alt="" class="full">
  		<h1>THOMAS P. HORTON</h1>
  		<div class="subtitle">
  			<span>full stack developer</span>
  		</div>
  		
  	</div>
    <div>
    	<section class="card one">
    		<a href="#">current projects</a>
    	</section>
    	<section class="card two">
    		<a href="/blog">blog</a>
    	</section>
    </div>
    <div>
    	<section class="card three">
    		<a href="#">about me</a>
    	</section>
    	<section class="card four portfolio">
    		<a href="#">portfolio</a>
    	</section>
    </div>
  </body>
</html>