@import "//fonts.googleapis.com/css?family=Source+Sans+Pro:300|Roboto+Slab:400,100,300";
@import "reset.css";
@import "fontello.css";

* {
	box-sizing: border-box;
}

body {
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	background: #F9F3E3;
}

h1 {
	font-family: Futura;
	font-size: 3em;
	line-height: 1em;
}

h2 {
	font-family: Futura;
	font-size: 2em;
	line-height: 1.3em;
}

h2:not(:first-child) {
	margin-top:0.5em;
}

h3 {
	font-family: Futura;
	font-size: 1.6em;
}

a {
	color: inherit;
}

pre {
	border-top: 3px solid;
	border-bottom: 3px solid;
	padding: 0.5em 0;
	font-family: Menlo;
	font-size: 0.7em;
}

i {
	font-style: italic;
}

ul {
	list-style-type: disc;
	padding-left: 1.5em;
}

.full {
	width: 100%;
	display: block;
}

.full img {
	width: 100%;
}

.hero {
	position: relative;
}

.hero h1 {
	position: absolute;
	top: 35%;
	text-align: center;
	width: 100%;
	color: #F9F3E3;
}

.hero .subtitle {
	color: #F9F3E3;
	font-size:1.4em;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 60%;
}

.hero .subtitle h2 {
	display: inline;
	font-size: 1em;
	padding: 0.3em 0;
	border-top: 3px solid #F9F3E3;
	border-bottom: 3px solid #F9F3E3;
}

.row {
	overflow: hidden;
}

.half {
	width: 50%;
	float: left;
	text-align: center;
}

.one {
	background: #62868D;
	color: #F9F3E3;
	border-color: #F9F3E3;
}

.two {
	background: #F9F3E3;
	color: #D78B7D;
	border-color: #D78B7D;
}

.three {
	background: #D78B7D;
	color: #F9F3E3;
	border-color: #F9F3E3;
}

.four {
	background: #CFC8B5;
	color: #62868D;
	border-color: #62868D;
}

.header_nav {
	padding: 0.2em 1em;
}

.header_nav a {
	text-decoration: none;
	padding: 0.2em 1em;
}

.text_block_outer {
	padding: 2em;
}

.text_block_inner{
	width: 740px;
	margin: 0 auto;
	font-size: 1.6em;
	line-height: 1.5em;
}

.half .text_block_inner {
	width: auto;
}

.text_block_inner *:not(:last-child){
	margin-bottom: 0.5em;
}

.blog_link {
	display: block;
	text-align: right;
	font-weight: bold;
}

@media screen and (max-width: 800px) {

	.half {
		width: 100%;
		text-align: left;
	}

	.text_block_inner {
		width: 100%;
	}

}

@media screen and (max-width: 480px) {

	.hero h1 {
		font-size: 1.8em;
	}

	.hero .subtitle {
		position: relative;
		font-size: 1.2em;
		font-style: italic;
		color: #D78B7D;
		padding: 0.5em;
	}

	.hero .subtitle h2 {
		padding: 0.1em 0;
		border-top: none;
		border-bottom: none;
	}

	.text_block_outer {
		padding: 1.5em;
	}

	.text_block_inner {
		font-size: 1.1em;
	}
}